<h1>New Bookmark:</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit "Create bookmark" %>
<% end %>
<%= link_to "Cancel", list_path(@list) %>
